* {font-family: 'Montserrat', sans-serif;}

body {padding-top: 2rem;}

.ft-light {font-weight: 300;}
.ft-regular, .badge {font-weight: 400;}
.ft-medium {font-weight: 500;}
.ft-bold {font-weight: 700;}
.ft-black {font-weight: 900;}

.card {border:none; border-radius: 0; margin-bottom: 2rem;}
.card h2 {font-size: 1.3rem; border-bottom: 1px solid #EEE; padding-bottom: 1rem;}
.card .badge {background-color: #FFFFFF30; color:#FFF;}

.w6 blockquote {border-left: 1px solid #EEE; padding-left: 1rem; margin: 0px;}
.w6 pre {color: #FFFFFF; font-style: italic;}

.ab-bg {
background: #217981; /* Old browsers */
background: -moz-linear-gradient(45deg,  #217981 0%, #48d4d4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #217981 0%,#48d4d4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #217981 0%,#48d4d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217981', endColorstr='#48d4d4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color:#FFFFFF;}