<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scopes & Teams - AB Tasty</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>

    <section>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col text-center">
              <img class="logo" src="img/logo.png">
              <br>
              <h1 class="title ft-bold">Scopes &amp; Teams</h1>
            </div>
          </div>
          <div id="scopes" class="row justify-content-center h-100 jobs-deck">
                <div v-if="scope['fields']['PM']" class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4" v-for="scope in scopes">
                    <div class="card job-card" v-if="scope['fields']['product']" v-bind:class="scope['fields']['product']">
                        <div class="card-body">
                          <h2 class="card-title ft-medium">{{ scope['fields']['Scope'] }}</h2>
                          <ul>
                            <li class="ft-regular" v-if="scope['fields']['Dev Team Manager']">Team Lead <span class="badge badge-light badge-tl">{{ scope['fields']['Dev Team Manager'] }}</span></li>
                            <li v-if="scope['fields']['Developers']">Developers
                              <ul>
                                <li class="ft-regular" v-for="developer in scope['fields']['Developers']"><span class="badge badge-light badge-dv">{{ developer }}</span></li>
                              </ul>
                            </li>
                            <li class="ft-regular" v-if="scope['fields']['PM']">PM <span class="badge badge-light badge-pm">{{ scope['fields']['PM'] }}</span></li>
                            <li class="ft-regular" v-if="scope['fields']['PMM']">PMM <span class="badge badge-light badge-pmm">{{ scope['fields']['PMM'] }}</span></li>
                            <!--<li class="ft-regular" v-if="scope['fields']['UX']">UX <span class="badge badge-light badge-ux">{{ scope['fields']['UX'] }}</span></li>-->
			    <li v-if="scope['fields']['UX']">Designers
                              <ul>
                                <li class="ft-regular" v-for="ux in scope['fields']['UX']"><span class="badge badge-light badge-dv">{{ ux }}</span></li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/axios.min.js"></script>
	<script type="text/javascript" src="js/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="js/popper.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/scopes.js"></script>
  </body>
</html>
